/******************************************************************************/
/*                      Styling for the about section                         */
/******************************************************************************/

/*
 *  Section on the writer
 */
.writer-view {
    @include align_with_navbar();
    background-color: white;
    width: 100%;
}

.writer-content {
    @include content_layout();
}

.writer-content > h1 {
    @include content_header();
}

.writer-content > .row > .col-xs-12.col-sm-6.col-md-4 > .crop > img {
    display: block !important;
    width: 100%;
    margin: auto;
}

.writer-content > .row > .col-xs-12.col-sm-6.col-md-4 {
    padding-bottom: 3%;
}

/* Resizes the profile image for mobiles */
@media only screen and (max-width: 767px) {
    .crop {
        width: 200px;
        height: 150px;
        margin: auto;
        overflow: hidden;
    }

    h1 {
        text-align: center;
    }
}

.writer-content > .row > .col-xs-12.col-sm-6.col-md-8 > p {
    color: black !important;
    font-size: 17px;
    font-family: $Noto-Sans;
}

/*
 *  Section on the inspiration
 */
.inspiration-view {
    background-color: white;
    width: 100%;
}

.inspiration-content {
    @include content_layout();
}

.inspiration-content > h1 {
    @include content_header();
}

.inspiration-content > .row > .col-xs-12.col-sm-6.col-md-8 > blockquote {
    font-size: 16px;
    font-family: $Noto-Sans;
}

.inspiration-content > .row > .col-xs-12.col-sm-6.col-md-8 > blockquote > br {
    line-height: 2.3;
}

.inspiration-content > .row > .col-xs-12.col-sm-6.col-md-4 > img {
    width: 100%;
}

.inspiration-content > .row > .col-xs-12.col-sm-6.col-md-8 > p {
    padding-left: 4%;
}
