/******************************************************************************/
/*                            Styling for the footer                          */
/******************************************************************************/

.footer-section {
    color: white;
    z-index: -1;
    background-image: url(../images/latte.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-text-container {
    padding: 2%;
    @include footer_bg();
}

.footer-text-container h1 {
    font-size: 30px;
    font-family: $Great-Vibes;
    border-bottom: 1px solid white;
}

.footer-section p {
    margin: 0;
}

.footer-text-container > .row > .col-xs-12.col-sm-6.col-md-6 {
    margin-bottom: 2%;
}

.footer-text-container > .row > .col-xs-12.col-sm-6.col-md-6 a {
    color: white;
}
.footer-text-container > .row > .col-xs-12.col-sm-6.col-md-6 a:hover {
    text-decoration: none;
}

.footer-copyright {
    width: 100%;
    padding: 0 2% 1% 2%;
    @include footer_bg();
}
