/******************************************************************************/
/*                    Styling to create sections on pages                     */
/******************************************************************************/

.view {
    display: block;
    overflow: auto;
}

.page-break > img {
    display: block;
    width: 80%;
    margin: auto;
}

/******************************************************************************/
/*                        Styling for the home page                           */
/******************************************************************************/

/*
 *  Image Carousel
 */

.carousel-control {
    width: 8% !important;
}

.welcome-section {
    @include align_with_navbar();
    text-align: center;
    margin-bottom: 3%;
}

.welcome-section > .col-md-6 > .welcome-header > h1 {
    @include page_header();
}

.welcome-section > .col-md-6 > .welcome-content > p {
    margin-bottom: 2%;
}

.welcome-section-image-crop {
    width: 100px;
    height: 100px;
}

.welcome-section-image-crop > img {
    vertical-align: middle;
    margin: auto;
}
