/******************************************************************************/
/*                    Styling to create sections on pages                     */
/******************************************************************************/

.view {
    display: block;
    overflow: auto;
}

.page-break > img {
    display: block;
    width: 80%;
    margin: auto;
}

/******************************************************************************/
/*                        Styling for the home page                           */
/******************************************************************************/

/*
 *  Image Carousel
 */

.carousel-control {
    width: 8% !important;
}

.welcome-section {
    @include align_with_navbar();
    margin-bottom: 2%;
}

.welcome-text-container {
    width: 50%;
    margin: auto;
}

.welcome-text-container > .welcome-header > h1 {
    @include page_header();
}

.welcome-text-container > .welcome-content > p {
    text-align: center;
}

.welcome-section-image-left > img {
    @include welcome_section_image();
    left: 0;
}

.welcome-section-image-right > img {
    @include welcome_section_image();
    right: 0;
}

@media only screen and (max-width: 767px) {
    .welcome-text-container > .welcome-header > h1 {
        @include page_header();
        font-size: 30px;
    }

    .welcome-section-image-left > img {
        @include welcome_section_image_mobile();
        left: 0;
    }

    .welcome-section-image-right > img {
        @include welcome_section_image_mobile();
        right: 0;
    }
}
