/******************************************************************************/
/*                Styling for the each recipe box in list view                */
/******************************************************************************/

.dropdown-menu > .active > a {
    background-color: $pink;
}

.page-bg {
    background-image: url(../images/cutting-board.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.recipe-list {
    margin-top: 50px;
    padding-left: 2%;
    padding-right: 2%;
}

.recipe-box {
    background-color: rgba(200, 200, 200, 0.7);
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.recipe-box-heading {
    width: 100%;
    height: 70px;
    text-align: center;
    font-family: $Muli;
}

.recipe-box-heading > h1 {
    display: block;
    font-size: 17px;
    padding-top: 4%;
    margin-bottom: 3px;
}

.recipe-box-heading > h1 > a {
    color: black;
}

.recipe-box-heading > h1 > a:hover {
    color: $pink;
}

.recipe-box-heading > img {
    display: block;
    width: 90%;
    margin: auto;
}

.recipe-box-body-layout {
    padding-top: 4px;
    padding-bottom: 5px;
}

.recipe-box-body {
    overflow: scroll;
    height: 250px;
    padding-right: 3%;
    padding-left: 3%;
}
