/******************************************************************************/
/*                           Styling for recipe page                          */
/******************************************************************************/

.arrow-position {
    font-size: 1.5rem;
    padding-top: 7%;
    padding-left: 3%;
}

.arrow-styling {
    padding: 4px;
    border-radius: 20px;
}

.arrow-prompt {
    padding-left: 5%;
}

.glyphicon-arrow-left {
    color: black;
    border: 1px solid black;
}

.glyphicon-arrow-left:hover {
    color: $green;
    border: 1px solid $green;
}

.recipe-header {
    @include align_with_navbar();
    @include page_header();
}

.recipe-sub-header {
    display: inline-block;
    font-size: 20px !important;
    font-family: $Muli;
}

.recipe-content {
    text-align: justify;
    line-height: 1.8;
}

.recipe-photos {
    float: left;
    margin-right: 4%;
    color: white;
}

.recipe-photos > img {
    display: block;
    height: 300px;
    width: 450px;
}

.recipe-description-layout {
    padding-left: 4%;
    padding-right: 4%;
}

.recipe-instructions-layout {
    padding: 2%;
}

/* Small styling tweaks for mobile devices */
@media only screen and (max-width: 617px) {
    .recipe-sub-header {
        margin-top: 15px;
    }

    .recipe-photos {
        float: none;
    }

    .recipe-photos > img {
        width: 80%;
        height: auto;
        margin: auto;
    }

    .recipe-description {
        padding-left: 15px;
        padding-right: 15px;
    }

    .recipe-description-layout {
        padding-left: 15px;
        padding-right: 15px;
    }

    .recipe-instructions-layout {
        padding: 0;
    }
}
