/******************************************************************************/
/*                                 Variables                                  */
/******************************************************************************/

/* Colors */
$pink: #ff66ff !important;
$green: #32d25a !important;
$light-gray: #ddd !important;
$dark-gray: #9c9a9a !important;

/* Fonts */
$Great-Vibes: 'Great Vibes', sans-serif;
$Noto-Sans: 'Noto Sans', sans-serif;
$Muli: 'Muli', sans-serif;

/******************************************************************************/
/*                                   Mixins                                   */
/******************************************************************************/

/*
 *  Reusable mixins for page styling
 */
@mixin align_with_navbar() {
    padding-top: 50px;
}

@mixin page_header() {
    color: $pink;
    padding-bottom: 2%;
    font-family: $Great-Vibes;
    font-size: 50px;
    text-align: center;
}

/*
 *  Welcome section on home page
 */
@mixin welcome_section_image() {
    position: absolute;
    top: 70px;
    overflow: hidden;
    z-index: -1;
}

@mixin welcome_section_image_mobile() {
    @include welcome_section_image();
    width: 150px;
}

/* 
 *  About page 
 */
@mixin about_layout() {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 3%;
}
