doctype html

html(lang="en")
    head
        meta(charset='utf-8')
        link(href="stylesheets/style.css" rel="stylesheet")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
        title Lettucespoon
    body
        .navbar.navbar-default.navbar-fixed-top(role='navigation')
            .container-fluid
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li: a(href='#') Home
                        li: a(href='#about') About
                        li: a(href='#contact') Contact
                    ul.nav.navbar-nav.navbar-right
                        li: a(href='#') Test1
                        li: a(href='#') Test2
                        li: a(href='#') Test3

        img(src='images/logo.png' id='logo' alt='logo for lettucespoon')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
        script(src='scripts/jquery.anchorScroll-master/jquery.anchorScroll.min.js')
