doctype html

mixin recipe_template(dish)
    if dish
        each d in dish
            h1 #{d.dish}
            if d.description
                each paragraph in d.description
                    h1 #{paragraph}
            else
                h1 #{d.description_short}
    else
        h1 No recipe to show

html(lang="en")
    head
        include _includes/header.jade
        title LettuceSpoon Recipe
    body
        //- Including Navbar template
        include _includes/navbar.jade

        main.animsition(role="main")
            .test
                +recipe_template(data)

        include _includes/footer.jade
        script(src='js/recipe-animation.js')
