doctype html

mixin recipes-list-builder(recipes)
    if recipes
        each dish in recipes
            +recipe-box(dish, dish.recipe)
        else
            h1 No recipes to show

mixin recipe-box(dish, recipe)
    .col-xs-12.col-sm-6.col-md-4
        .recipe-box
            .recipe-box-heading
                - var link = {href: '/recipe?dish=' + dish.dish}
                h1: a(href=link.href) #{dish.dish}
                img(src='images/pagebreak.png' alt='Page break')
            .recipe-box-body-layout
                .recipe-box-body
                    p: b Description:
                    p #{dish.description_short}
                    p: b Ingredients:
                    ul
                        each ingredient in recipe.ingredients
                            li: p #{ingredient}

html(lang="en")
    head
        include _includes/header.jade
        title LettuceSpoon Recipe List
    body.page-bg
        //- Including Navbar template
        include _includes/navbar.jade

        main.animsition(role="main")
            .view.recipe-list
                +recipes-list-builder(data)

        include _includes/footer.jade
        script(src='js/recipes-list-animation.js')
