/******************************************************************************/
/*                                 Variables                                  */
/******************************************************************************/
/* Colors */
/* Fonts */
/******************************************************************************/
/*                                   Mixins                                   */
/******************************************************************************/
/* About page */
/******************************************************************************/
/*                         Styling for navigation bar                         */
/******************************************************************************/
.navbar-brand {
  color: #32d25a !important;
  font-size: 30px !important;
  font-family: "Great Vibes", sans-serif; }

@media only screen and (max-width: 767px) {
  .navbar-nav {
    margin: 0px -15px !important; } }
.navbar-default .navbar-nav > .open > a {
  color: black !important;
  background-color: #9c9a9a !important;
  border-color: #9c9a9a !important; }

.dropdown-menu > li > a:hover, a:focus {
  color: #32d25a !important;
  background-color: #ddd !important; }

/******************************************************************************/
/*                    Styling to create sections on pages                     */
/******************************************************************************/
.view {
  display: block;
  overflow: auto; }

.page-break > img {
  display: block;
  width: 80%;
  margin: auto; }

/******************************************************************************/
/*                        Styling for the home page                           */
/******************************************************************************/
/*
 *  Image Carousel
 */
.carousel {
  margin-bottom: 5%; }

.carousel-control {
  width: 8% !important; }

.photos {
  padding-top: 50px; }

/******************************************************************************/
/*                      Styling for the about section                         */
/******************************************************************************/
/*
 *  Section on the writer
 */
.writer-view {
  padding-top: 50px;
  background-color: white;
  width: 100%; }

.writer-content {
  padding-top: 1%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 3%; }

.writer-content > h1 {
  color: #ff66ff !important;
  padding-bottom: 2%;
  font-family: "Great Vibes", sans-serif;
  font-size: 50px;
  text-align: center; }

.writer-content > .row > .col-xs-12.col-sm-6.col-md-4 > .crop > img {
  display: block !important;
  width: 100%;
  margin: auto; }

.writer-content > .row > .col-xs-12.col-sm-6.col-md-4 {
  padding-bottom: 3%; }

/* Resizes the profile image for mobiles */
@media only screen and (max-width: 767px) {
  .crop {
    width: 200px;
    height: 150px;
    margin: auto;
    overflow: hidden; }

  h1 {
    text-align: center; } }
.writer-content > .row > .col-xs-12.col-sm-6.col-md-8 > p {
  color: black !important;
  font-size: 17px;
  font-family: "Noto Sans", sans-serif; }

/*
 *  Section on the inspiration
 */
.inspiration-view {
  background-color: white;
  width: 100%; }

.inspiration-content {
  padding-top: 1%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 3%; }

.inspiration-content > h1 {
  color: #ff66ff !important;
  padding-bottom: 2%;
  font-family: "Great Vibes", sans-serif;
  font-size: 50px;
  text-align: center; }

.inspiration-content > .row > .col-xs-12.col-sm-6.col-md-8 > blockquote {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif; }

.inspiration-content > .row > .col-xs-12.col-sm-6.col-md-8 > blockquote > br {
  line-height: 2.3; }

.inspiration-content > .row > .col-xs-12.col-sm-6.col-md-4 > img {
  width: 100%; }

.inspiration-content > .row > .col-xs-12.col-sm-6.col-md-8 > p {
  padding-left: 4%; }

/******************************************************************************/
/*                Styling for the each recipe box in list view                */
/******************************************************************************/
.dropdown-menu > .active > a {
  background-color: #ff66ff !important; }

.page-bg {
  background-image: url(../images/cutting-board.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.recipe-list {
  padding-top: 50px;
  padding-left: 2%;
  padding-right: 2%; }

.recipe-box {
  background-color: rgba(200, 200, 200, 0.7);
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%; }

.recipe-box-heading {
  width: 100%;
  height: 70px;
  text-align: center;
  font-family: "Muli", sans-serif; }

.recipe-box-heading > h1 {
  display: block;
  font-size: 17px;
  padding-top: 4%;
  margin-bottom: 3px; }

.recipe-box-heading > h1 > a {
  color: black; }

.recipe-box-heading > h1 > a:hover {
  color: #ff66ff !important; }

.recipe-box-heading > img {
  display: block;
  width: 90%;
  margin: auto; }

.recipe-box-body-layout {
  padding-top: 4px;
  padding-bottom: 5px; }

.recipe-box-body {
  overflow: scroll;
  height: 250px;
  padding-right: 3%;
  padding-left: 3%; }

/******************************************************************************/
/*                           Styling for recipe page                          */
/******************************************************************************/
.test > h1 {
  padding-top: 50px; }

/*# sourceMappingURL=style.css.map */
