/******************************************************************************/
/*                             Reusable Styling                               */
/******************************************************************************/

.view {
    display: block;
    overflow: auto;
}

/******************************************************************************/
/*                           Styling for page breaks                          */
/******************************************************************************/

.page-break {
}

.page-break > img {
    display: block;
    width: 80%;
    margin: auto;
}

/******************************************************************************/
/*                         Styling for navigation bar                         */
/******************************************************************************/

.navbar-brand {
    color: #32d25a !important;
    font-size: 20px !important;
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        margin: 0px -15px !important;
    }
}

/******************************************************************************/
/*                         Styling for image carousel                         */
/******************************************************************************/

.carousel {
    margin-bottom: 5%;
}

.carousel-control {
    width: 8% !important;
}

.photos {
    padding-top: 50px;
}

/******************************************************************************/
/*                      Styling for the about section                         */
/******************************************************************************/

.about-view {
    background-color: white;
    width: 100%;
}

.about-content {
    padding-top: 1%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 3%;
}

.about-content > h1 {
    color: #32d25a !important;
    padding-bottom: 3%;
}

.about-content > .row > .col-xs-12.col-sm-6.col-md-4 > .crop > img {
    display: block !important;
    width: 100%;
    margin: auto;
}

.about-content > .row > .col-xs-12.col-sm-6.col-md-4 {
    padding-bottom: 3%;
}

/* Resizes the profile image for mobiles */
@media only screen and (max-width: 767px) {
    .crop {
        width: 200px;
        height: 150px;
        margin: auto;
        overflow: hidden;
    }

    h1 {
        text-align: center;
    }
}

.about-content > .row > .col-xs-12.col-sm-6.col-md-8 > p {
    color: black !important;
    font-size: 17px;
}

/******************************************************************************/
/*                   Styling for the inspiration section                      */
/******************************************************************************/

.inspiration-view {
    background-color: white;
    width: 100%;
}

.inspiration-content {
    padding-top: 1%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 3%;
}

.inspiration-content > h1 {
    color: #ff66ff !important;
    padding-bottom: 3%; 
}

.inspiration-content > .row > .col-xs-12.col-sm-6.col-md-8 > blockquote {
    font-size: 16px;
}

.inspiration-content > .row > .col-xs-12.col-sm-6.col-md-8 > blockquote > br {
    line-height: 2.3;
}

.inspiration-content > .row > .col-xs-12.col-sm-6.col-md-4 > img {
    width: 100%;
}

.inspiration-content > .row > .col-xs-12.col-sm-6.col-md-8 > p {
    padding-left: 4%;
}
