/******************************************************************************/
/*                         Styling for navigation bar                         */
/******************************************************************************/

.navbar-brand {
    color: #32d25a !important;
    font-size: 30px !important;
    font-family: 'Great Vibes', sans-serif;
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        margin: 0px -15px !important;
    }
}

.navbar-default .navbar-nav > .open > a {
    color: black !important;
    background-color: #aaa !important;
    border-color: #aaa !important;
}

.dropdown-menu > li > a:hover {
    color: black !important;
    background-color: #ddd !important;
}
