/******************************************************************************/
/*                         Styling for navigation bar                         */
/******************************************************************************/

.navbar-brand {
    color: #32d25a !important;
    font-size: 20px !important;
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        margin: 0px -15px !important;
    }
}

.nav > li > a:hover {
    background-color: #e7e7e7 !important;
}

.navbar-default .navbar-nav > .open > a {
    color: black !important;
    background-color: #ccc !important;
}