ul {
    margin: 0 !important;
}

/******************************************************************************/
/*                             Reusable Styling                               */
/******************************************************************************/
.view {
    display: block;
    overflow: auto;
}

/******************************************************************************/
/*                         Styling for image carousel                         */
/******************************************************************************/

.carousel {
    width: 100%;
}

.photos {
    padding-top: 50px !important;
    width: 100%;
}

.carousel-control {
    width: 10% !important;
}

/******************************************************************************/
/*                      Styling for the about section                         */
/******************************************************************************/

.about-view {
    background-color: black;
    width: 100%;
}

.about-content {
    padding: 5%;
}

.about-content > h1 {
    text-align: center;
    color: white !important;
    padding-bottom: 4%;
}

.about-content > .row > .col-xs-12.col-sm-6.col-md-4 > .crop > img {
    display: block !important;
    width: 80%;
    margin: auto;
}

.about-content > .row > .col-xs-12.col-sm-6.col-md-4 {
    padding-bottom: 3%;
}

/* Resizes the profile image for mobiles */
@media only screen and (max-width: 770px) {
    .crop {
        width: 200px;
        height: 150px;
        overflow: hidden;
        margin: auto;
    }
}

.about-content > .row > .col-xs-12.col-sm-6.col-md-8 > p {
    color: white !important;
    font-size: 15px;
}
