h1 {
    padding-top: 50px;
    text-align: center;
}

ul {
    margin: 0 !important;
}

#logo {
    padding-top: 50px;
    width: 100%;
}

.view {
    padding-top: 50px;
    display: block;
    overflow: auto;
    height: 100vh;
}
