ul {
    margin: 0 !important;
}

#logo {
    padding-top: 50px;
    width: 100%;
}

.view {
    display: block;
    overflow: auto;
}

/******************************************************************************/
/**/
/******************************************************************************/

.about-view {
/*    padding-left: 4%;
    padding-right: 4%;*/
    background-color: black;
}

.about-view > h1 {
    text-align: center;
    color: white !important;
}

.about-view > .col-md-8 > p {
    color: white !important;
}

.about-view > .col-md-8 > img {
    display: inline-block !important;
    width: 25% !important;
    height: auto !important;
}
