//- All the Javascript files and CDNS needed in the head tag of each page

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
script(src='js/jquery.anchorScroll-master/jquery.anchorScroll.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js')
script(src='js/page-animation.js')
