//- TODO: Write the footer to contain contact info and shit like that

.footer-section
    .footer-text-container
        .row
            .col-xs-12.col-sm-6.col-md-6
                h1 About
                a(href='#') The Writer
                br
                a(href='#') The Inspiration
            .col-xs-12.col-sm-6.col-md-6
                h1 Contact
                p <b>Email:</b> <a href='#'>linda.yung@alumni.tufts.edu</a>
        hr
        .footer-copyright
            p © 2016 Yungyoungster Incorporated NYC

include scripts.jade
